header{
    height:;
    padding-top: 3rem;
    overflow: hidden;
}

.header-container{
    text-align: center;

}
h3{
    color: darkkhaki;
}
span .hand-icon{
    color: goldenrod;
    font-size: 1.5rem;
    margin: 0 5px 0 5px;
}
h1{
    color: gold;
}


/*=====cta styling======*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}



/* ======header socials styling======*/
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
   
}

.header_socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: #ffff;
}

/*=======me======*/
.me{
    background: #151515;
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    width: 30%;
    margin: 2rem auto 4rem;

} 

.header-items{
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.image1{
    border-radius: 12rem 12rem 0 0;
    transition: .5s ease-in-out;

    &:hover{
      scale: 1.5;
    }
} 

.scroll_down{
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;
}


/* ======== for medium devicces=========*/
@media screen and (max-width:1024px) {
     
    
}

@media screen and (max-width:600px) {
    
   .header_socials, .scroll_down{
    display: none;
   }
}